In [1]:
#import all data science eda libraries

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
#performing data cleaning and data preprocessing on /Users/tom/Documents/Data Science Course/2024H5-DSProject/data/NSW/Hourly_weather_data/combined.csv

#read the csv file
df = pd.read_csv('/Users/tom/Documents/Data Science Course/2024H5-DSProject/data/NSW/Hourly_weather_data/combined.csv')

#display the first 5 rows of the dataframe
df.head()

#display the last 5 rows of the dataframe
#df.tail()

,Date,Time,CHULLORA WDR 1h average [°],CHULLORA WSP 1h average [m/s],CHULLORA HUMID 1h average [%],CHULLORA SOLAR 1h average [W/m²]
0,30/12/2009,01:00,245.8,2.7,83.5,-2.0
1,30/12/2009,02:00,219.5,1.9,85.0,-2.2
2,30/12/2009,03:00,247.7,2.7,87.2,-2.4
3,30/12/2009,04:00,242.9,1.8,86.8,-1.4
4,30/12/2009,05:00,236.8,1.9,86.2,0.1

In [5]:
#search for missing values in the dataframe
df.isnull().sum()

Date                                   0
Time                                   0
CHULLORA WDR 1h average [°]          920
CHULLORA WSP 1h average [m/s]        921
CHULLORA HUMID 1h average [%]        644
CHULLORA SOLAR 1h average [W/m²]    1352
dtype: int64

In [7]:
df.shape

(98448, 6)

In [20]:
#change all values in the Time column with value '24:00' to '00:00' and the Date column to the next day for those rows
df['Time'] = df['Time'].replace('24:00', '00:00')

#combine the date and time columns into a single column and convert it to datetime format
df['date_time'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

#for all date_time values that are 00:00, add 1 day to the date
df.loc[df['Time'] == '00:00', 'date_time'] = df['date_time'] + pd.DateOffset(days=1)

#drop the date and time columns
df = df.drop(['Date', 'Time'], axis=1)

#display the first 5 rows of the dataframe
df.head()

,CHULLORA WDR 1h average [°],CHULLORA WSP 1h average [m/s],CHULLORA HUMID 1h average [%],CHULLORA SOLAR 1h average [W/m²],date_time
0,245.8,2.7,83.5,-2.0,2009-12-30 01:00:00
1,219.5,1.9,85.0,-2.2,2009-12-30 02:00:00
2,247.7,2.7,87.2,-2.4,2009-12-30 03:00:00
3,242.9,1.8,86.8,-1.4,2009-12-30 04:00:00
4,236.8,1.9,86.2,0.1,2009-12-30 05:00:00

In [21]:
#drop the missing values
df = df.dropna()
df.shape

#save the cleaned data to a new csv file
df.to_csv('/Users/tom/Documents/Data Science Course/2024H5-DSProject/data/NSW/Hourly_weather_data/cleaned.csv', index=False)